[user]
	name = Your Name
	email = your_email@example.com
[init]
	defaultBranch = main
[core]
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pull]
	rebase = false
[color]
	ui = auto
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
